.services {
  background-color: linear-graddient(180deg, #0c0c1d, #111132);
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1px;
  justify-content: space-between;
  //   padding-bottom: 30px;
  .textContainer {
    flex: 1;
    align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    p {
      font-weight: 200;
      font-size: 14px;
      color: gray;
      text-align: right;
    }
    hr {
      width: 500px;
      border: none;
      border-top: 0.5px solid gray;
    }
  }
  .titleContainer {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    // margin-bottom: -100px;
    .title {
      display: flex;
      gap: 10px;
      align-items: center;

      img {
        width: 250px;
        height: 60px;
        border-radius: 50px;
        object-fit: cover;
      }

      h1 {
        font-size: 65px;
        color: white;
        font-weight: 100;
      }

      button {
        width: 250px;
        height: 60px;
        background: transparent;
        border: 1px solid greenyellow;
        color: white;
        border-radius: 50px;
        font-size: 17px;
        transition: all 0.3s;
      }
      button:hover {
        background: greenyellow;
        color: rgb(0, 0, 0);
      }
    }
  }
  .listContainer {
    flex: 2;
    display: flex;
    max-width: 1024px;
    margin: auto;
    // margin-bottom: 1rem;
    .box {
      padding: 50px;
      border: 0.5px solid gray;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      text-align: left;
      gap: 10px;

      button {
        padding: 10px;
        width: 100%;
        background: transparent;
        border: 1px solid greenyellow;
        cursor: pointer;
        color: white;
        font-size: larger;
        transition: all 0.3s;
      }
      button:hover {
        background: greenyellow;
        color: black;
      }
    }
  }
}
