@import "../../app.scss";

.hero {
  height: calc(100vh - 70px);
  overflow: hidden;
  position: relative;
  z-index: 998;

  .wrapper {
    max-width: 1284px;
    height: 100%;
    margin: auto;

    @include mobile {
      padding: 0 20px;
      margin-top: -3rem;
    }

    .textContainer {
      width: 50%;
      margin-top: 1rem;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 30px;

      @include mobile {
        margin-top: 20px;
        height: 70%;
        width: 100%;
        align-items: center;
        text-align: center;
      }

      h2 {
        font-size: 1.4rem;
        letter-spacing: 10px;
        color: rebeccapurple;
      }
      h1 {
        font-size: 48px;

        @include mobile {
          font-size: 26px;
        }
      }
      .buttons {
        a {
          padding: 15px;
          border: 1px solid greenyellow;
          border-radius: 5px;
          margin-right: 12px;
          transition: all 0.3s;
          z-index: 1;
          background: transparent;
        }

        a:hover {
          background: greenyellow;
          color: rgb(0, 0, 0);
        }
      }
      img {
        width: 50px;
        margin-bottom: 1rem;
      }
    }
  }

  .imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;     
    height: 180%;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(-50%);

    @include mobile {
      height: 60%;
      width: 80%;
      flex-direction: column;
      top: unset;
      bottom: 0;
      left: 50%;
    }

    .VideoCarousel {
      margin-top: 6rem;
      height: 80%;
      width: 100%;
      max-width: 600px;
      object-fit: cover;

      @include mobile {
        object-fit: contain;
        margin-top: 5rem;
        border-radius: 25px;
      }
    }
  }

  .slidingContainer {
    position: absolute;
    font-size: 13rem;
    bottom: -100px;
    white-space: nowrap;
    color: #fffefe1a;
    width: 50%;
    height: 50%;
    font-weight: bold;
  }
}
