@import "../../app.scss";

.contact {
  max-width: 1366px;
  min-height: 100vh; // Changed from height to min-height
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin: auto;

  @include mobile {
    width: 100%;
    padding: 10px;
    flex-direction: column;
    overflow-y: auto;
  }

  .textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;

    @include mobile {
      gap: 10px;
      text-align: center;
      align-items: center;
      margin-top: 30px;
      background: transparent;
    }

    div {
      backdrop-filter: blur(200px);
    }

    h1 {
      font-size: 6rem;
      line-height: 98px;

      @include mobile {
        font-size: 3rem;
        line-height: 50px;
      }
    }

    span {
      font-size: 2rem;
      font-weight: 400;

      @include mobile {
        font-size: 1rem;
      }
    }
  }

  .formContainer {
    flex: 1;
    position: relative;
    backdrop-filter: blur(200px);
    
    .phoneSvg {
      margin: auto;
      position: absolute;
      z-index: -1;

      @include mobile {
        display: none;
      }
    }

    @include mobile {
      width: 100%;
      height: 100%;
      padding: 50px;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 40px;

      @include mobile{
        height: 80vh;
        backdrop-filter: none;
        background: transparent;
      }

      input, textarea {
        padding: 15px 30px;
        background: transparent;
        border: 1px solid #fff;
        color: #fff;
        border-radius: 5px;
      }

      textarea {
        padding: 10px;
      }

      button {
        padding: 10px;
        background: transparent;
        border: 1px solid greenyellow;
        color: rgb(255, 255, 255);
        border-radius: 5px;
        cursor: pointer;
        font-weight: 300;
        transition: all 0.3s ease;

        &:hover {
          background: greenyellow;
          color: #000;
        }
      }
    }
  }
}
