.contact {
  max-width: 1024px;
  height: 100%;
  display: flex;
  //   justify-content: center;
  gap: 50px;
  align-items: center;
  margin: auto;

  .textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;

    div {
      backdrop-filter: blur(200px);
    }
    h1 {
      font-size: 5rem;
      line-height: 88px;
    }

    span {
      font-weight: 300;
    }
  }

  .formContainer {
    flex: 1;
    position: relative;
    backdrop-filter: blur(200px);
    .phoneSvg {
      margin: auto;
      position: absolute;
    }
    form {
      display: flex;
      flex-direction: column;
      gap: 20px;
      input {
        padding: 10px;
        background: transparent;
        border: 1px solid #fff;
        color: #fff;
        border-radius: 5px;
      }
      textarea {
        padding: 10px;
        background: transparent;
        border: 1px solid #fff;
        color: #fff;
        border-radius: 5px;
      }
      button {
        padding: 10px;
        background: transparent;
        border: 1px solid greenyellow;
        color: rgb(255, 255, 255);
        border-radius: 5px;
        cursor: pointer;
        font-weight: 300;
      }
    }
  }
}
