@import "../../app.scss";

.navbar {
    height: clamp(50px, 8vh, 70px); /* Responsive height */
    width: 100%;
    position: absolute; /* Position absolutely to the top */
    top: 0;
    left: 0;
    padding: 0 clamp(10px, 4vw, 20px); /* Responsive padding */
    z-index: 1000; /* Set the z-index to 1000 */
    transition: background-color 0.3s ease-in-out; /* Smooth transition for background color */
  
    &.navbar--transparent {
      background-color: transparent; /* Transparent background at the top */
    }
  
    &.navbar--solid {
      background-color: rgba(29, 28, 28, 0.8); /* Solid background when not at the top */
    }
  
    .wrapper {
      max-width: 1024px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      gap: 10px;
      @include mobile{
        justify-content: flex-end;
        padding: 10px;
      }
  
      span {
        font-weight: bold;
        font-size: clamp(16px, 2vw, 24px); /* Responsive font size */

        @include mobile{
          display: none;
        }
      }
  
      .social {
        display: flex;
        gap: clamp(10px, 2vw, 20px); /* Responsive gap between social icons */
  
        img {
          width: clamp(16px, 2vw, 24px); /* Responsive width */
          height: clamp(16px, 2vw, 24px); /* Responsive height */
        }
      }
    }
  }
  